<!DOCTYPE html>
<html>
  <head>
    <title>google charts example</title>
  </head>
  <body>
    <h1>
      This application demonstrates how to use google charts api to develop charts.
    </h1>
    <h3>Tech Stack</h3>
    <ul>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>HTML</li>
      <li>Google charts API</li>
    </ul>
    <button onclick="location.href = '/charts';">Click here to enter!</button>
  </body>
</html>
